.image-container {
    width: 95%;
    background-color: #E8E8ED;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: none;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    transition: all 0.3s;
}

.pic {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    transition: all 0.3s;
    border-radius: 10px;
}

.ruwais-pic, .tiru-pic {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.ruwais-pic img, .tiru-pic img {
    flex: 1;
    max-width: calc(50% - 10px);
}

.image-title {
    display: flex;
    justify-content: space-around;
    color: rgb(29, 29, 31);
    margin-bottom: 10px;
}

/* Added hover effects with lift animation */
.image-container:hover {
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.15);
    color: rgb(29, 29, 31);
    transform: translateY(-5px);
}

/* Added hover effect for individual images */
.pic:hover {
    transform: translateY(-5px);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}

/* Added hover effect for images in the ruwais and tiru sections */
.ruwais-pic img:hover, .tiru-pic img:hover {
    transform: translateY(-5px);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
}